<h3 class="playlist_name"><%= @playlist.name %> tracks </h3>

<% num_of_tracks = @tracks.length %>
<% num = num_of_tracks / 2 %>

<div class="row tracks_list">

  <% @tracks.each_with_index do |track, index| %>

      <% if track.album.images != nil %>
        <div class="col-md-6">
          <%= image_tag track.album.images.first["url"], :class => "playlist-tracks", :id => "#{index}" %>
          <%= link_to track.name, discover_path(id: track.artists.first.id) %>
        </div>

      <% else %>
        <div class="col-md-6">
          <%= image_tag 'no_image.png', :class => "playlist-tracks", :id => "#{index}" %>
          <%= link_to track.name, discover_path(id: track.artists.first.id) %>
        </div>
      <% end %>

  <% end %>

</div>

<div class="snackbar" id="music-snackbar">No music preview to display</div>
