<h1>Log In</h1>

<% if flash[:error_message] %>
  <h2><%= flash[:error_message] %></h2>
<% end %>

<%= form_tag login_path do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>

  <%= submit_tag "Log in" %>
<% end %>
