<div class="container">
  <h1>Welcome <%= @spotify_user.display_name %> 👋</h1>
  <h4>Want to discover new music to your taste fast?</h4>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'hover.svg', :class => 'welcome_icon' %>
      <p>Hover to listen</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'click.svg', :class => 'welcome_icon' %>
      <p>Click to dive deeper</p>
    </div>
    <div class="col-md-4 vinyl">
      <%= image_tag 'vinyl.svg', :class => 'welcome_icon' %>
      <p>Enjoy and create</p>
    </div>
  </div>
  <%= link_to "Start your discovery", playlists_path, :class => "button" %>
</div>
