<h2 class="saved_tracks_header">Welcome to your discovered tracks</h2>

<div class="row">
  <div id = "saved-tracks" class="col-md-4 offset-md-1">

  </div>

  <div class="col-md-7 add_tracks_options">
    <h5>Add into one of your existing editable playlists: </h5>
    <%= form_with :url => save_path, :local => true do %>
      <%= select_tag("playlist", options_for_select(@option_for_select, selected: @option_for_select.first), :class => "custom-select") %>
      <%= hidden_field_tag 'track_uris' %>

      <%= submit_tag "Add to playlist", :class => "btn btn-outline-success add_tracks_button" %>
    <% end %>

    <h4>or</h4>
    <h5>Create a new playlist and add these in it:</h5>

    <%= form_with :url => save_path, :local => true do |f|%>
      <%= f.text_field :playlistName, :required => true, :class => "create_playlist"%>
      <%= hidden_field_tag 'track_uris_new_playlist' %>
      <%= f.submit "Create playlist & add tracks", :class => "btn btn-outline-success" %>
    <% end %>

  </div>

</div>
